/* Image style */
#scrollUp {
  /*  background-image: url("../img/top.png");*/
    bottom: 30px;
    /**
    remover right para ficar alinhado à esquerda da página
    */
    right: 50px;
    width: 46px;
    height: 46px;
    /*text-indent: -9999px;*/
    z-index: 5 !important;

} #scrollUp::before{
  /*font-family: "FontAwesome";*/
    /*content: "\f077";*/
    content:url('../img/epic/robot_up_scroll.png');
    font-size: 24pt;
    color: #D07A48;
    opacity: .6;
}

#scrollUp:hover {

}

#scrollTooltip {
  bottom: 60px;
  /**
  remover right para ficar alinhado à esquerda da página
  */
  right: 50px;
  width: 46px;
  height: 46px;
  /*text-indent: -9999px;*/
  z-index: 5 !important;
  transition: .5s linear;
}

#scrollTooltip:before {
font-size: 16pt;
color: #D07A48;
opacity: .6;
content:"Home";
    position: absolute;
    right: 50px;
    top: -20px;
    width: 0;
    height: 0;
    z-index:9999;
    transition: .5s linear;

}

#scrollTooltip:after {
  content:"";
    position: absolute;
    right: 20px;
    top: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 17px 17px 17px;
    border-color: #D07A48 transparent #D07A48 transparent;
    z-index:9998;
    opacity:0.8;
    transform: rotate(180deg);
    opacity:.6;
    transition: .5s linear;

}

@media screen and (max-width:890px){
  #scrollUp{
    display:none !important;
  }
}
